<!doctype HTML>
  <head>
    <style>
      #colorsContainer{
        display:grid;
        border:thin solid black;
        width: 200px;
        height: 50px;
        overflow:auto;
      }
    </style>
    <script>
    function change(id,style){
      var colorsArr = <%=colors%>; //copie l'array colors de ruby en javascript
      var oldColorIndex = colorsArr.indexOf(document.getElementById(id).style.backgroundColor);
      var newColorIndex = (oldColorIndex+1)%colorsArr.length;
      document.getElementById(id).style.backgroundColor = colorsArr[newColorIndex];
    };

    function saveAndSubmit(){
      document.getElementById("userColor1").value = document.getElementById("buttonColor1").style.backgroundColor;
      document.getElementById("userColor2").value = document.getElementById("buttonColor2").style.backgroundColor;
      document.getElementById("userColor3").value = document.getElementById("buttonColor3").style.backgroundColor;
      document.getElementById("userColor4").value = document.getElementById("buttonColor4").style.backgroundColor;
      document.getElementById("try").submit();
    };




    </script>


  </head>


  <body>
    <p>Master Mind !</p>

    <label type="label" id="solution">Solution</label>
    <div id="colorsContainer">
      <button id="solutionColor1" type="button" style=<%="grid-column:1;background:#{solutionColors[0]}"%>></button>
      <button id="solutionColor2" type="button" style=<%="grid-column:2;background:#{solutionColors[1]}"%>></button>
      <button id="solutionColor3" type="button" style=<%="grid-column:3;background:#{solutionColors[2]}"%>></button>
      <button id="solutionColor4" type="button" style=<%="grid-column:4;background:#{solutionColors[3]}"%>></button>
    </div>

    <form id="reset">
      <input id="reset" type="hidden" name="newGame" value="true" />
      <button id="solutionRevealer" type="button" disabled>Reveal</button>
      <button type="submit">Reset!</button>
    </form>


    <label type="label" id="userTry"><%="Try ! #{10-nbrTries} left."%></label>
    <div id="colorsContainer">
      <button id="buttonColor1" type="button" onclick="change(id,style)" style=<%="grid-column:1;background:#{lastUserInput[0]}"%>></button>
      <button id="buttonColor2" type="button" onclick="change(id,style)" style=<%="grid-column:2;background:#{lastUserInput[1]}"%>></button>
      <button id="buttonColor3" type="button" onclick="change(id,style)" style=<%="grid-column:3;background:#{lastUserInput[2]}"%>></button>
      <button id="buttonColor4" type="button" onclick="change(id,style)" style=<%="grid-column:4;background:#{lastUserInput[3]}"%>></button>
    </div>

      <form id="try">
        <input id="userColor1" type ="hidden" name="userColor1" value="" />
        <input id="userColor2" type ="hidden" name="userColor2" value="" />
        <input id="userColor3" type ="hidden" name="userColor3" value="" />
        <input id="userColor4" type ="hidden" name="userColor4" value="" />
        <input id="newGame" type="hidden" name="newGame" value="false" />
        <button type="button" onclick="saveAndSubmit()" style="grid-column:5">Try!</button>
      </form>






  </body>




</HTML>
